<h1>Webhook redirect</h1>



<details>
    <summary>Создать связь с api и <a target="blank" href="https://theboroer.github.io/localtunnel-www/">local tunnel</a></summary>
    <p>
    ссылку нужно указать к конкретному роуту например : <br>
    https://bms-webhook-dmitriev-dmitrii.loca.lt/api/notice/recipient/whats-app <br>
    </p>
    <p>
    формат телефона следующий:<br>
    79111111111
    </p>
    <p>
    сообщения с указанного номера будут перенаправлены на ваш local tunnel url
    </p>
</details>


<fieldset>

    <form id="connect-local-tunnel">

        <label>
           local tunnel url
            <input  required name="url" type="text" >
        </label>

        <label>
            phone number
            <input required name="phone-number" type="text">
        </label>

        <label>
            to-be-removed-at days
            <input name="to-be-removed-at"  value="7">
        </label>

        <div class="form__actions">
            <button type="reset">reset</button>
            <button type="submit">submit</button>
        </div>

    </form>

</fieldset>

<h2>Активные связи</h2>

<ol id="connections-list">
    {{#each connections}}
        <li>
            <div>
               <b>url</b>: <a target="_blank" href="{{ this.url}}">{{ this.url}}</a>
            </div>
            <div>
                <b>phoneNumber</b>: <span>{{ this.phoneNumber}}</span>
            </div>
        </li>
    {{/each}}
</ol>

