html,
body {
  color-scheme: dark;
  padding: 0;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  color: #00B7FF;
}

fieldset {
  margin: 0;
  padding: 1em;
  border-radius: 7px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
}
button {
  font-weight:bold ;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  border: 1px solid;
}
label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  text-align: center;
  margin-left: 1em;
  padding: 0.25rem 0.5rem;
}

.form__actions {
  margin-top: 1em;
  display: flex;
  gap: 0.25rem;
  align-self: end;
}

li{
  border-bottom: 1px solid;
  padding: 0.5rem ;
  margin-bottom: 1rem;
}
li span{
  padding: 0.25rem;
}

details {
  border: 1px solid ;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin-bottom: 2rem;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid ;
  margin-bottom: 0.5em;
}